.container {
  gap: 10px;
  max-width: 365px;
  height: min-content;
  padding: 10px;
  flex-wrap: wrap;
  transition: all 0.25s ease;
  display: flex;
  margin-bottom: calc(7rem + 20px);
  justify-content: center;
}

@keyframes zoomIn {
  from {
    transform: translateY(var(--size)) translateX(calc(var(--size) * .5));
    margin-left: calc(var(--size) * -.5);
    margin-right: calc(var(--size) * -.5);
    opacity: 0;
  }
}

.container.many {
  gap: 5px;
  max-width: 370px;
}


.ball {
  transition: inherit;
  --size: 25px;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  animation: zoomIn 0.25s cubic-bezier(0.17, 0.67, 0.33, 1.42);
  background: red;
  flex-grow: 0;
  transform-origin: 50% 0;
  border-radius: 999px;
}

.ball:nth-child(4n + 1) {
  background: #26f;
}
.ball:nth-child(4n + 2) {
  background: #a0f;
}
.ball:nth-child(4n + 3) {
  background: limegreen;
}
.many .ball {
  --size: 20px;
}
